-e git+https://github.com/edx/bootstrapped.git@unpin-dependencies#egg=bootstrapped
pandas
numpy
skills
plotnine
matplotlib
jupyter
jupyterlab
ipython[notebook]
sympy
pip-tools
plotly
pystan
arviz
cached-property
fastparquet
bacon-replay-analyzer
