Cython>=0.29
pandas
numpy
skills
plotnine
matplotlib
jupyter
jupyterlab
ipython[notebook]
sympy
pip-tools
plotly
arviz
cached-property
fastparquet
bacon-replay-analyzer
mako
toposort
cmdstanpy
click_log