images
.ipynb_checkpoints
fits/
games/
container/.ipynb_checkpoints
__pycache__
.vscode
src/yomi_skill.egg-info/
build

src/yomi_skill/models/*
!src/yomi_skill/models/*.py
!src/yomi_skill/models/*.stan
node_modules/

# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
src-lambda/deps
tmp
