<%! import json %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <script type="text/json" id="matchup-data">
      ${matchups.to_json(orient="records")}
    </script>
    <script type="text/json" id="characters">
      ${json.dumps(list(characters))}
    </script>
    <script type="text/json" id="player-skill">
      ${json.dumps(player_data)}
    </script>
    <script type="text/json" id="elo-scale">
      ${json.dumps(elo_scale)}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vega@5/build/vega.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@3/build/vega-lite.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@4/build/vega-embed.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gaussian@1.1.0/lib/gaussian.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjs@5.8.0/dist/math.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-slider@10.6.1/dist/bootstrap-slider.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="theme.css" />
    <title>
      <%block name="title"></%block>
    </title>
  </head>

  <body>
    <nav class="nav nav-tabs">
      <a
        class="nav-link ${'active' if self.attr.game == 'yomi' else ''}"
        href="/yomi-skill"
        >Yomi Skill Chart</a
      >
      <a
        class="nav-link ${'active' if self.attr.game == 'bacon' else ''}"
        href="/yomi-skill/bacon.html"
        >BattleCON Skill Chart</a
      >
    </nav>
    <div class="container">
      <div class="div-group row col-12 mt-2">
        <label for="player" class="col-sm-auto col-form-label">Player:</label>
        <input
          list="players"
          id="player"
          name="player"
          class="col-sm-3 form-control"
        />
        <label for="opponent" class="col-sm-auto col-form-label"
          >Opponent:</label
        >
        <input
          list="players"
          id="opponent"
          name="opponent"
          class="col-sm-3 form-control"
        />
        <div class="col-sm-3 justify-content-between">
          <button
            id="graph"
            onclick="return doGraph();"
            class="col-sm-9 btn btn-primary justify-content-end"
          >
            Graph
          </button>
          <div id="loading" class="col-sm-1 justify-content-end">
            <img id="arrows" src="loading.svg" />
          </div>
        </div>
        <datalist id="players"></datalist>
      </div>
      <div id="against-cfg" class="div-group row col-12 mt-2">
        <label
          for="against-elo"
          class="col-sm-auto col-form-label col-form-label-sm"
          >Against Elo:</label
        >

        <div
          id="against-elo"
          class="btn-group btn-group-toggle"
          data-toggle="buttons"
        >
          <label class="btn btn-secondary btn-sm active">
            <input
              type="radio"
              name="against-elo"
              id="against-elo-self"
              autocomplete="off"
              value="self"
              checked
            />
            Own
          </label>
          <label class="btn btn-secondary btn-sm">
            <input
              type="radio"
              name="against-elo"
              id="against-elo-5"
              autocomplete="off"
              value="5%"
            />
            5%
          </label>
          <label class="btn btn-secondary btn-sm">
            <input
              type="radio"
              name="against-elo"
              id="against-elo-25"
              autocomplete="off"
              value="25%"
            />
            25%
          </label>
          <label class="btn btn-secondary btn-sm">
            <input
              type="radio"
              name="against-elo"
              id="against-elo-50"
              autocomplete="off"
              value="50%"
            />
            50%
          </label>
          <label class="btn btn-secondary btn-sm">
            <input
              type="radio"
              name="against-elo"
              id="against-elo-75"
              autocomplete="off"
              value="75%"
            />
            75%
          </label>
          <label class="btn btn-secondary btn-sm">
            <input
              type="radio"
              name="against-elo"
              id="against-elo-95"
              autocomplete="off"
              value="95%"
            />
            95%
          </label>
          <label class="btn btn-secondary btn-sm">
            <input
              type="radio"
              name="against-elo"
              id="against-elo-max"
              autocomplete="off"
              value="100%"
            />
            Max
          </label>
        </div>
        <label
          for="against-skill"
          class="col-sm-auto col-form-label col-form-label-sm"
          >Against Char Skill:</label
        >

        <div
          id="against-skill"
          class="btn-group btn-group-toggle"
          data-toggle="buttons"
        >
          <label class="btn btn-secondary btn-sm active">
            <input
              type="radio"
              name="against-skill"
              autocomplete="off"
              value="self"
              checked
            />
            Own
          </label>
          <label class="btn btn-secondary btn-sm">
            <input
              type="radio"
              name="against-skill"
              autocomplete="off"
              value="5%"
            />
            5%
          </label>
          <label class="btn btn-secondary btn-sm">
            <input
              type="radio"
              name="against-skill"
              autocomplete="off"
              value="25%"
            />
            25%
          </label>
          <label class="btn btn-secondary btn-sm">
            <input
              type="radio"
              name="against-skill"
              autocomplete="off"
              value="50%"
            />
            50%
          </label>
          <label class="btn btn-secondary btn-sm">
            <input
              type="radio"
              name="against-skill"
              autocomplete="off"
              value="75%"
            />
            75%
          </label>
          <label class="btn btn-secondary btn-sm">
            <input
              type="radio"
              name="against-skill"
              autocomplete="off"
              value="95%"
            />
            95%
          </label>
          <label class="btn btn-secondary btn-sm">
            <input
              type="radio"
              name="against-skill"
              autocomplete="off"
              value="100%"
            />
            Max
          </label>
        </div>
      </div>
      <table id="player-stats" class="table table-hover table-sm mt-2">
        <thead>
          <tr>
            <th>Player</th>
            <th>Elo</th>
            <th>Games recorded</th>
          </tr>
        </thead>
        <tbody>
          <tr id="p1-stats">
            <td id="p1-name"></td>
            <td id="p1-elo"></td>
            <td id="p1-games"></td>
          </tr>
          <tr id="p2-stats">
            <td id="p2-name"></td>
            <td id="p2-elo"></td>
            <td id="p2-games"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="vis"></div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
      integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
      integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
      crossorigin="anonymous"
    ></script>
    <script src="main.js"></script>
  </body>
</html>
