<%! import json %>

<html>
  <head>
    <script type="text/json" id="matchup-data">
      ${matchups.to_json(orient="records")}
    </script>
    <script type="text/json" id="characters">
      ${json.dumps(list(characters))}
    </script>
    <script type="text/json" id="player-skill">
      ${json.dumps(player_data)}
    </script>
    <script type="text/json" id="elo-scale">
      ${json.dumps(elo_scale)}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vega@5.0.0/build/vega.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@3.0.0-rc14/build/vega-lite.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@4.0.0-rc1/build/vega-embed.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gaussian@1.1.0/lib/gaussian.js"></script>
    <link rel="stylesheet" type="text/css" href="theme.css" />
  </head>

  <body>
    <a href="/yomi-skill">Yomi Skill Chart</a>
    <a href="/yomi-skill/bacon.html">BattleCON Skill Chart</a>
    <div>
      <div>
        <label for="player">Choose a player:</label>
        <input list="players" id="player" name="player" />
        <label for="opponent">an opponent:</label>
        <input list="players" id="opponent" name="opponent" />
        <button id="graph" onclick="return doGraph();">Graph</button>
        <datalist id="players"></datalist>
        <span id="loading"><img id="arrows" src="loading.svg"/></span>
      </div>
      <table id="player-stats">
        <tr>
          <th>Player</th>
          <th>Elo</th>
          <th>Games recorded</th>
        </tr>
        <tr>
          <td id="p1-name"></td>
          <td id="p1-elo"></td>
          <td id="p1-games"></td>
        </tr>
        <tr>
          <td id="p2-name"></td>
          <td id="p2-elo"></td>
          <td id="p2-games"></td>
        </tr>
      </table>

      <div id="vis">
        <div>
          <div id="c1-c2"></div>
          <div id="c1-total"></div>
        </div>
        <div>
          <div id="c2-total"></div>
          <div id="total"></div>
        </div>
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
